.cart {
  padding: 0.2px 1.5px;
}

.show {
  right: 10px;
  top: 14.1px;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
